# =============================
# ENV FILES
# =============================
.env
**/.env

# =============================
# NODE MODULES
# =============================
node_modules/
**/node_modules/

# =============================
# CERTIFICATES
# =============================
app/certs/
*.pem
*.key

# =============================
# DATABASE (Prisma SQLite)
# =============================
app/backend/prisma/prisma/
*.db

# =============================
# BUILD FILES
# =============================
dist/
build/
