.neon-glitch {
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  color: #00ffff;
  position: relative;
  display: inline-block;

  text-shadow:
    0 0 10px #a006ff,
    0 0 20px #a200ff,
    0 0 40px #590f8d,
    0 0 80px #a200ff;
  filter: blur(0.5px);
}

/* .neon-glitch::before,
.neon-glitch::after {
  content: attr(data-text);
  content: attr(data-text, string);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: screen;
  pointer-events: none;
  animation: glitch 8s infinite;
}

.neon-glitch {
  --glitch-text: "";
}

.neon-glitch::before {
  color: #ff0066;
  animation-duration: 1.2s;
}

.neon-glitch::after {
  color: #00aaff;
  animation-duration: 1.7s;
} */

.neon-glitch--always::before,
.neon-glitch--always::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  mix-blend-mode: screen;
  animation: glitch 10s infinite;
}

.neon-glitch--always::before {
  color: #ff0066;
  /* animation: glitch 8s infinite; */
  animation-duration: 1.2s;
}

.neon-glitch--always::after {
  color: #00aaff;
  /* animation: glitch 8s infinite; */
  /* animation-delay: 0.3s; */
  animation-duration: 1.7s;
}


.neon-glitch--hover::before,
.neon-glitch--hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 0;
}

.neon-glitch--hover:hover::before,
.neon-glitch--hover:hover::after {
  opacity: 1;
}

.neon-glitch--hover:hover::before {
  color: #ff0066;
  animation: glitch 1.2s infinite;
}

.neon-glitch--hover:hover::after {
  color: #00aaff;
  animation: glitch 1.2s infinite;
  animation-delay: 0.15s;
}

.neon-glitch-parent:hover .neon-glitch--hover::before,
.neon-glitch-parent:hover .neon-glitch--hover::after {
  opacity: 1;
}

.neon-glitch-parent:hover .neon-glitch--hover::before {
  color: #ff0066;
  animation: glitch 1.2s infinite;
}

.neon-glitch-parent:hover .neon-glitch--hover::after {
  color: #00aaff;
  animation: glitch 1.2s infinite;
  animation-delay: 0.15s;
}


@keyframes glitch {
  0%,
  85% {
    transform: translate(0);
    opacity: 1;
  }

  86% {
    transform: translate(-2px, 2px);
    opacity: 0.7;
  }

  88% {
    transform: translate(2px, -2px);
    opacity: 0.8;
  }

  90% {
    transform: translate(-3px, 1px);
    opacity: 0.6;
  }

  92% {
    transform: translate(3px, -1px);
    opacity: 0.9;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.small-border {
  border: 2px solid #00ffff;
  box-shadow:
    0 0 5px #ae00ff,
    0 0 10px #c300ff;
  transition: 0.2s ease;
}

.key-box {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Orbitron", Arial, sans-serif;
  font-size: 14px;
  /* font-weight: 700; */

  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  user-select: none;
}



.neon-border {
  border: 2px solid #00ffff;
  box-shadow:
    0 0 5px #ae00ff,
    0 0 10px #c300ff,
    0 0 20px #b700ff,
    0 0 40px #c300ff;
  transition: 0.2s ease;
}

.neon-border--hover:focus,
.neon-border--hover:hover {
  box-shadow:
    0 0 10px #a006ff,
    0 0 20px #003cff,
    0 0 30px #0f378d,
    0 0 60px #0011ff;
  outline: none;
}
